// @media (min-width: $screen-sm)
//   .move-up
//     // move up to align with pagination
//     margin-top: -50px
//     position: relative

//     // do not overlap pagination buttons
//     width: 30%

div.dataTables_wrapper div.dataTables_processing
  top: 126px

div.dataTables_wrapper div.dataTables_paginate
  margin-top: 5px

// toggle search icons
.trk-global-search-wrapper label
  position: relative

.trk-global-search-icon-wrapper
  float: right
  position: absolute
  right: 5px
  top: 5px
  display: block

.trk-column-search
  width: 100%
  display: block

.trk-column-search.trk-column-search__small
  // this is for ID column
  width: 35px

[data-datatable-hidden-column]
  display: none
